.header{
    display: flex;
    width: 100%;
    height: 10%;
    gap:10%;
    align-items: center;
    margin-left: 5%;
}

.vacc{
    font-size: larger;
    color: darkblue;
    font-weight: bold;
}
.menu{
    font-size:small;
    color: darkgray;
    font-weight: bold;
    cursor: pointer;
}

.menu:hover{
    color: black;
}

.button{
    background-color:darkblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
}
.button:hover {
    background-color: white;
    color: black;
    border: 2px solid darkblue;
  }

  .secction1{
    display: flex;
    width: 100%;
    height: 50rem;
  }

  .left1{
      text-align: center;
      width: 50%;
      margin-top: 10%;
  }

  .text1{
      text-align: left;
  }

  .icons{
    display: flex;
    width: 100%;
    height: 25%;
    gap:10%;
    align-items: center;
  }

  .shield{
    text-align: center;
    width: 50%;
  }

  .right1{
    background-image: url(../img/doc_1.jpg);
    height: auto;
    width: 50%;
    background-position: center;
  }

  .secction2{
    width: 100%;
    height: 30rem;
    margin-bottom: 5%;
  }

  .top{
    text-align: left;
    width: 100%;
    height: 50%; 
  }

  .title{
    color: cadetblue;
    font-size: xx-large;
    margin-top: 10%;
  }
  .text{
    font-size: x-large;
  }

  .bottom{
    display: flex;
    width: 100%;
    height: 50%;
    
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    margin-left: 2%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .title-card{
    color: cadetblue;
    font-size: larger;
  }

  .text-card{
    color: darkgray;
    font-size: large;
  }

  .title3{
    color: cadetblue;
    font-size: x-large;
  }
  .text3{
    font-size: larger;
  }

  .collapsible {
    background-color: #F6F6F6;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    margin-left: 5%;
    height: 60%;
  }
  
  .card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .left3{
    text-align: center;
    width: 50%;
}


.bottom2{
  display: flex;
  width: 100%;
  height: 50%;
  
}

footer{
  background-color: lightgray;
  display: flex;
}


.bottom3{
  display: flex;
  gap: 10%;
  width: 100%;
  height: 100%;
  
}

.right2{
  background-image: url(../img/doc_2.jpg);
  height: auto;
  width: 50%;
  background-position: center;
}

.right3{
  background-image: url(../img/doc_3.jpg);
  height: auto;
  width: 50%;
  background-position: center;
}